{% extends "base.html" %}

{% block content %}
    <h1>Signup</h1>
    

    <form action ='/signup' method='POST' >
        
        Username <input type='text' name ='user_name' value='{{user_name}}'>
        <span style=color:red> {{error1}} </span>
        
        <br><br>
        Password<input type="password" name='pwd' >
        <span style=color:red> {{error2}} </span>
        <br><br>
        Verify Password<input type="password" name='vpwd' />
        <span style=color:red> {{error3}} </span>
        <br><br>
        Email(optional)<input type="text" name='email' value="{{email}}"/>
        <span style=color:red> {{error4}} </span>
        <br><br>
        <input type="submit"/>
    </form>

{% endblock %}